<div class="container">
	<div class="row titles">
	  <div class="col-md-8">Indicador</div>
	  <div class="col-md-4">Cantidad</div>
	</div>
	
	<div class="row event" >
	  <div class="col-md-8">Total eventos</div>
	  <div class="col-md-4">{{total.events}}</span></div>
	</div>

	<div class="row event" >
	  <div class="col-md-8">Total incidentes</div>
	  <div class="col-md-4">{{total.incidents}}</span></div>
	</div>	

	<div class="row event" >
	  <div class="col-md-8">Total accidentes</div>
	  <div class="col-md-4">{{total.accidents}}</span></div>
	</div>

	<div class="row event" >
	  <div class="col-md-8">Total eventos con menores de edad</div>
	  <div class="col-md-4">{{total.eventsWithMinors}}</span></div>
	</div>

	<div class="row event" >
	  <div class="col-md-8">Total de vehículos afectados en incidentes</div>
	  <div class="col-md-4">{{total.vehiclesAffectedInIncidents}}</span></div>
	</div>

	<div class="row event" >
	  <div class="col-md-8">Total de vehículos afectados en accidentes</div>
	  <div class="col-md-4">{{total.vehiclesAffectedAccidents}}</span></div>
	</div>			

</div>